<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../../Imagens/dino-icon.png" type="image/png" />
    <link rel="stylesheet" href="styleEstratificada.css">

    <title>Estratificada</title>
    <script src="./estratificada.js"></script>
</head>

<body onload="addPop();">
    <input type="hidden" name="erroDecimal" id="erroDecimal">
    <input type="hidden" name="tamanhoAmostra" id="tamanhoAmostra">
    <input type="hidden" name="somaPopulacao" id="somaPopulacao">
    <input type="hidden" name="amostra" id="amostra">

    <!-- CABEÇALHO -->
    <header class="header">  
        <div class="logo">
            <img src="../../Imagens/dino-gif.gif" alt="dino-gif">
        </div>

        <div class="titulo">
            ESTRATIFICADA
        </div>

        <div class="menu">
            <div class="home">
                <a href="../index.html">Home</a>
            </div>

            <div class="sobre">
                <a href="../sobre.html">Sobre</a>
            </div>
        </div>
    </header>

    <div class ="conteudo">
        <div class="calculo">
            <!-- <h1>Estratificada</h1> -->
            <form action="">
                <label for="erroAmostral">Informe o erro máximo tolerável (%):</label> <br>
                <input type="number" name="" id="erroAmostral" min="1" max="100" placeholder="1-100"><br>
                <br>
                <div id="div-pop">
                    <!-- Novas populações vão aqui -->
                </div>

                <br>
                <input type="button" id="addPopBtn" value="Adicionar nova população" onclick="addPop();">
                <input type="button" id="rmvPopBtn" value="Remover ultima população" onclick="rmvPop();">

                <br> <br>
                <input type="button" id="calcularBtn" value="Calcular" onclick="calcular();">
            </form>
            <br>
            <div id="tabela" class="ttabela">
                <!-- A tabela do calculo vai aqui -->
            </div>

            <br>
            <!-- botões formula -->
            <div id="divBotaoMostrarFormulasId" style="display: none;">
                <button type="button" onclick="formulas('block');">Mostrar fórmulas</button>
            </div>

            <div id="divBotaoEsconderFormulasId" style="display: none;">
                <button type="button" onclick="formulas('none');">Esconder fórmulas</button>
            </div>
            <!-- fórmulas -->
            <!-- n0 -->
            <div id="divMostrarFormulasN0" style="border: 1px solid black; margin-top: 5vh; display: none;">
                <br/>
                E<sub>0</sub>: erro máximo tolerável<br/>
                n<sub>0</sub>: tamanho da amostra<br/>
                <br/>
                <pre>n<sub>0</sub> = 1 / E<sub>0</sub><sup>2</sup> = 1 / <span id="spanErroDecimal"></span><sup>2</sup> = <span class="spanTamanhoAmostra"></span>
                </pre>
            </div>
            <!-- n -->
            <div id="divMostrarFormulasN" style="border: 1px solid black; margin-top: 5vh; display: none;">
                <br/>
                n: tamanho da amostra corrigido<br/>
                N: tamanho da população<br/>
                n<sub>0</sub>: tamanho (inicial) da amostra<br/>
                <br/>
            
                <pre>n = N * n<sub>0</sub> / (N + n<sub>0</sub>) = <span class="spanPopulacao"></span> * <span class="spanTamanhoAmostra"></span> / (<span class="spanPopulacao"></span> + <span class="spanTamanhoAmostra"></span>) = <span id="spanAmostra"></span>
                </pre>
            </div>
        </div>
    </div>

    <!-- RODAPÉ -->

    <div class="rodape">

        <div class="rodape-top">

            <div class="icone-rodape-top">

                <a href="../aleatoria/aleatoria.html">
                    <img src="../../Imagens/aleatoria.svg" alt="">
                </a>
                
            </div>

            <div class="icone-rodape-top">
                
                <a href="../sistematica/sistematica.html">
                    <img src="../../Imagens/sistematica.svg" alt="">
                </a>

            </div>

            <div class="icone-rodape-top">

                <a href="#">
                    <img src="../../Imagens/estratificada.svg" alt="">
                </a>

            </div>

        </div>

        <div class="rodape-bottom">

            <div class="texto-rodape">
                <p>Trabalho de Estatística Aplicada - Análise e Desenvolvimento de Sistemas. <br> 2º Semestre de 2021. <br> Site feito sem fins lucrativos.</p>
            </div>

        </div>

    </div>
</body>

</html>
