<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta X-Content-Type-Options: nosniff>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="../Imagens/dino-icon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    
    <title>Amostragem</title>
</head>

<body>
    
    <!-- CABEÇALHO -->
    
    <header class="header">
        
        <div class="logo">
            <img src="../Imagens/dino-gif.gif" alt="dino-gif">
        </div>
            
        <div class="saudacao">
            BEM VINDO!
        </div>
            
        <div class="menu">
            <div class="home">
                <a href="index.html">Home</a>
            </div>
            
            <div class="sobre">
                <a href="sobre.html">Sobre</a>
            </div>
        </div>

    </header>
        
    <!-- CONTEÚDO -->
        
    <div class="conteudo">
        
        <!-- imagem -->

        <div class="imagem">
            
            <div class="imagem-top">
                
                <div class="descricao">
                    <h1>
                        Este site demonstra as três principais técnicas de Amostragem e calcula o tamanho de uma Amostra baseando-se na margem de erro escolhida
                    </h1>
                </div>

            </div>
            
            <div class="imagem-bottom">

                <div class="escolha">
                    Escolha abaixo uma Técnica de Amostragem:
                </div>

            </div>

        </div>
        
        <!-- card container -->

        <div class="card-container">
            
            <div class="card">
                
                <div class="card-top">
                    
                    <div class="card-img">
                        <img src="../Imagens/aleatoria.svg"/>
                    </div>
                    
                </div>
                
                <div class="card-text">
                
                    <a href="aleatoria/aleatoria.html">
                        <h3>Aleatória</h3>
                        <br>
                    </a>
                    <p>Neste tipo de amostra toda a população deve ser homogênea e cada elemento da amostra tem a mesma probabilidade de ser selecionado.</p>
                
                </div>
            
            </div>
            
            <div class="card">
                    
                <div class="card-top">
                    
                    <div class="card-img">
                        <img src="../Imagens/sistematica.svg"/>
                    </div>  
                    
                </div>
                
                <div class="card-text">
                    
                    <a href="sistematica\sistematica.html">
                        <h3>Sistemática</h3>
                        <br>
                    </a>
                    <p>Neste tipo, obtém-se o primeiro elemento de forma aleatória. Os demais são obtidos somando-se ao primeiro elemento um número fixo, até atingir o tamanho da amostra.</p>
                        
                </div>
                    
            </div>
                
            
            <div class="card">
                
                <div class="card-top">
                    
                    <div class="card-img">
                        <img src="../Imagens/estratificada.svg">
                    </div>
                    
                </div> 
                
                <div class="card-text">
                    
                    <a href="estratificada/estratificada.html">
                        <h3>Estratificada</h3>
                        <br>
                    </a>
                    <p>Mais precisa, consiste em dividir toda a população em diferentes subgrupos (estratos). Exemplo: quantidade de pessoas desempregadas que sejam do sexo feminino.
                        
                </div>
                    
            </div>
            
        </div>
        
    </div>
        
    <!-- RODAPÉ -->
    
    <div class="rodape">
        
        <div class="rodape-top">
            
            <div class="icone-rodape-top">
                
                <a href="aleatoria/aleatoria.html">
                    <img src="../Imagens/aleatoria.svg" alt="">
                </a>
                
            </div>
            
            <div class="icone-rodape-top">
                
                <a href="sistematica/sistematica.html">
                    <img src="../Imagens/sistematica.svg" alt="">
                </a>
                
            </div>
            
            <div class="icone-rodape-top">
                
                <a href="estratificada/estratificada.html">
                    <img src="../Imagens/estratificada.svg" alt="">
                </a>
                
            </div>
            
        </div> 
        
        <div class="rodape-bottom">
            
            <div class="texto-rodape">
                <p>Trabalho de Estatística Aplicada - Análise e Desenvolvimento de Sistemas. <br> 2º Semestre de 2021. <br> Site feito sem fins lucrativos.</p>
            </div>
            
        </div>
        
    </div>
        
</body>
</html>