<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../Imagens/dino-icon.png" type="image/png" />
    <link rel="stylesheet" href="styleSobre.css">

    <title>Sobre</title>
</head>

<body>

    <!-- CABEÇALHO -->
    <header class="header">  
        <div class="logo">
            <img src="../Imagens/dino-gif.gif" alt="dino-gif">
        </div>

        <div class="titulo">
            SOBRE
        </div>

        <div class="menu">
            <div class="home">
                <a href="index.html">Home</a>
            </div>
            
            <div class="menu">
                <a href="sobre.html">Sobre</a>
            </div>
        </div>
    </header>

    <div class ="conteudo">
        <div class="sobre">
            <h2>Trabalho de Estatística Aplicada - Análise e Desenvolvimento de Sistemas. <br> 2º Semestre de 2021. <br> Site feito sem fins lucrativos.</h2>
            <br>
            <br>
            <h3>CRIADO POR:</h3>
            <br>
            <ul>
                <li>Caio de Luccas Rosolen</li>
                <li>Danilo Oriani Zambon</li>
                <li>João Ricardo de Souza Gomes</li>
                <li>Juan Rodrigues Batista Marques</li>
                <li>Vinícius Biscalchin Marconato</li>
            </ul>
        </div>
    </div>

    <!-- RODAPÉ -->

    <div class="rodape">

        <div class="rodape-top">

            <div class="icone-rodape-top">

                <a href="./aleatoria/aleatoria.html">
                    <img src="../Imagens/aleatoria.svg" alt="">
                </a>
                
            </div>

            <div class="icone-rodape-top">
                
                <a href="./sistematica/sistematica.html">
                    <img src="../Imagens/sistematica.svg" alt="">
                </a>

            </div>

            <div class="icone-rodape-top">

                <a href="./estratificada/estratificada.html">
                    <img src="../Imagens/estratificada.svg" alt="">
                </a>

            </div>

        </div>

        <div class="rodape-bottom">

            <div class="texto-rodape">
                <p>Trabalho de Estatística Aplicada - Análise e Desenvolvimento de Sistemas. <br> 2º Semestre de 2021. <br> Site feito sem fins lucrativos.</p>
            </div>

        </div>

    </div>
</body>

</html>
